In [1]:
# %pip install jovian

In [2]:
# import jovian

In [3]:
# jovian.commit(filename='data.ipynb', project='News Recommender Capstone')

In [4]:
import pandas as pd
import numpy as np

import plotly.express as px

In [5]:
txns = pd.read_csv('../data/consumer_transanctions.csv')
cnt = pd.read_csv('../data/platform_content.csv')

C:\Users\ksrs9\AppData\Local\Temp\ipykernel_5204\1419563702.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  txns = pd.read_csv('../data/consumer_transanctions.csv')

In [6]:
txns.head()

,event_timestamp,interaction_type,item_id,consumer_id,consumer_session_id,consumer_device_info,consumer_location,country
0,1465413032,content_watched,-3499919498720038879,-8845298781299428018,1264196770339959068,NaN,NaN,NaN
1,1465412560,content_watched,8890720798209849691,-1032019229384696495,3621737643587579081,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2...,NY,US
2,1465416190,content_watched,310515487419366995,-1130272294246983140,2631864456530402479,NaN,NaN,NaN
3,1465413895,content_followed,310515487419366995,344280948527967603,-3167637573980064150,NaN,NaN,NaN
4,1465412290,content_watched,-7820640624231356730,-445337111692715325,561148 1178424124714,NaN,NaN,NaN

In [7]:
cnt.head()

,event_timestamp,interaction_type,item_id,producer_id,producer_session_id,producer_device_info,producer_location,producer_country,item_type,item_url,title,text_description,language
0,1459192779,content_pulled_out,-6451309518266745024,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://www.nytimes.com/2016/03/28/business/dea...,"Ethereum, a Virtual Currency, Enables Transact...",All of this work is still very early. The firs...,en
1,1459193988,content_present,-4110354420726924665,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://www.nytimes.com/2016/03/28/business/dea...,"Ethereum, a Virtual Currency, Enables Transact...",All of this work is still very early. The firs...,en
2,1459194146,content_present,-7292285110016212249,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://cointelegraph.com/news/bitcoin-future-w...,Bitcoin Future: When GBPcoin of Branson Wins O...,The alarm clock wakes me at 8:00 with stream o...,en
3,1459194474,content_present,-6151852268067518688,3891637997717104548,-1457532940883382585,NaN,NaN,NaN,HTML,https://cloudplatform.googleblog.com/2016/03/G...,Google Data Center 360° Tour,We're excited to share the Google Data Center ...,en
4,1459194497,content_present,2448026894306402386,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,https://bitcoinmagazine.com/articles/ibm-wants...,"IBM Wants to ""Evolve the Internet"" With Blockc...",The Aite Group projects the blockchain market ...,en

In [8]:
non_eng = cnt[cnt.language != 'en']

In [9]:
non_eng.shape

(858, 13)

In [10]:
txns[txns.item_id.isin(non_eng.item_id)]

,event_timestamp,interaction_type,item_id,consumer_id,consumer_session_id,consumer_device_info,consumer_location,country
2,1465416190,content_watched,310515487419366995,-1130272294246983140,2631864456530402479,NaN,NaN,NaN
3,1465413895,content_followed,310515487419366995,344280948527967603,-3167637573980064150,NaN,NaN,NaN
5,1465413742,content_watched,310515487419366995,-8763398617720485024,1395789369402380392,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,MG,BR
6,1465415950,content_watched,-8864073373672512525,3609194402293569455,1143207167886864524,NaN,NaN,NaN
8,1465413762,content_watched,310515487419366995,344280948527967603,-3167637573980064150,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
72301,1485190418,content_watched,-6590819806697898649,-9016528795238256703,8614469745607949425,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_4...,MG,BR
72302,1485190288,content_watched,-2069509552243850466,-9196668942822132778,-8300596454915870873,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,SP,BR
72303,1485187924,content_watched,3770082505811422124,5713241217519616260,6704552481483665372,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,MG,BR
72307,1485190425,content_liked,-6590819806697898649,-9016528795238256703,8614469745607949425,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_4...,MG,BR
72310,1485190434,content_watched,-6590819806697898649,-9016528795238256703,8614469745607949425,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_4...,MG,BR

### Discard articles that are not in English

In [11]:
cnt.shape

(3122, 13)

In [12]:
cnt = cnt[cnt.language == 'en']

In [13]:
cnt.shape

(2264, 13)

In [14]:
txns.shape

(72312, 8)

In [15]:
txns = txns[~txns.item_id.isin(non_eng.item_id)]

In [16]:
txns.shape

(47066, 8)

### Handling articles that have been pulled out

In [17]:
cnt.interaction_type.value_counts()

content_present       2211
content_pulled_out      53
Name: interaction_type, dtype: int64

In [18]:
pulled_out = cnt[cnt.interaction_type == 'content_pulled_out']

In [19]:
pulled_out.head()

,event_timestamp,interaction_type,item_id,producer_id,producer_session_id,producer_device_info,producer_location,producer_country,item_type,item_url,title,text_description,language
0,1459192779,content_pulled_out,-6451309518266745024,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://www.nytimes.com/2016/03/28/business/dea...,"Ethereum, a Virtual Currency, Enables Transact...",All of this work is still very early. The firs...,en
70,1459355695,content_pulled_out,8078873160882064481,3891637997717104548,1776955132850411647,NaN,NaN,NaN,HTML,http://buytaert.net/white-house-deepens-its-co...,Dries Buytaert,White House deepens its commitment to Open Sou...,en
84,1459367793,content_pulled_out,-7356135999773525293,-1443636648652872475,8209530310193218854,NaN,NaN,NaN,HTML,http://www.popsci.com/byzantine-science-deceiv...,Fooling The Machine,"Two groups, one at Berkeley University and ano...",en
87,1459367903,content_pulled_out,7420742904084384944,-1443636648652872475,8209530310193218854,NaN,NaN,NaN,HTML,http://www.popsci.com/byzantine-science-deceiv...,Fooling The Machine,"Two groups, one at Berkeley University and ano...",en
90,1459368576,content_pulled_out,8219310215587599928,-1443636648652872475,8209530310193218854,NaN,NaN,NaN,HTML,http://www.popsci.com/byzantine-science-deceiv...,Fooling The Machine,"Two groups, one at Berkeley University and ano...",en

In [20]:
txns.columns

Index(['event_timestamp', 'interaction_type', 'item_id', 'consumer_id',
       'consumer_session_id', 'consumer_device_info', 'consumer_location',
       'country'],
      dtype='object')

In [21]:
txns.head()

,event_timestamp,interaction_type,item_id,consumer_id,consumer_session_id,consumer_device_info,consumer_location,country
0,1465413032,content_watched,-3499919498720038879,-8845298781299428018,1264196770339959068,NaN,NaN,NaN
1,1465412560,content_watched,8890720798209849691,-1032019229384696495,3621737643587579081,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2...,NY,US
4,1465412290,content_watched,-7820640624231356730,-445337111692715325,561148 1178424124714,NaN,NaN,NaN
7,1465415066,content_watched,-1492913151930215984,4254153380739593270,8743229464706506141,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,SP,BR
9,1465413771,content_watched,3064370296170038610,3609194402293569455,1143207167886864524,NaN,NaN,NaN

In [22]:
txns[txns.item_id.isin(pulled_out.item_id)]

,event_timestamp,interaction_type,item_id,consumer_id,consumer_session_id,consumer_device_info,consumer_location,country
799,1465944262,content_watched,-9102431381393428051,-8207027873334509187,-1996662527866789533,Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...,SP,BR
800,1465944268,content_watched,-9102431381393428051,-8207027873334509187,-1996662527866789533,NaN,NaN,NaN
1460,1464723366,content_watched,-8449536481786923901,-1032019229384696495,-484145324341325773,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2...,NY,US
1484,1465937312,content_watched,-9102431381393428051,-8891033171626175843,1906469274292338271,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,MG,BR
1485,1465935703,content_watched,-9102431381393428051,4309036796659976637,7936915227079618664,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
58887,1476126765,content_watched,8416004328454490172,1178253609400958886,-2885733983004971706,Android - Native Mobile App,SP,BR
59518,1476918042,content_watched,2847365042071859088,-709287718034731589,-1719288689557472072,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12) ...,SP,BR
60195,1478641169,content_watched,3399073250354435892,3891637997717104548,1794946588429108409,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,SP,BR
64188,1481740900,content_watched,8289800212949675494,-8241940599580729220,-4005961876543065182,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,MG,BR
68318,1485342049,content_watched,-7358932766266901263,-8420584158427265596,-1843663387254811608,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,SP,BR

### Dropping articles without title or content

In [23]:
cnt.isna().sum()

event_timestamp            0
interaction_type           0
item_id                    0
producer_id                0
producer_session_id        0
producer_device_info    1791
producer_location       1791
producer_country        1791
item_type                  0
item_url                   0
title                      0
text_description           0
language                   0
dtype: int64

In [24]:
cnt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2264 entries, 0 to 3121
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   event_timestamp       2264 non-null   int64
 1   interaction_type      2264 non-null   object
 2   item_id               2264 non-null   int64
 3   producer_id           2264 non-null   int64
 4   producer_session_id   2264 non-null   int64
 5   producer_device_info  473 non-null    object
 6   producer_location     473 non-null    object
 7   producer_country      473 non-null    object
 8   item_type             2264 non-null   object
 9   item_url              2264 non-null   object
 10  title                 2264 non-null   object
 11  text_description      2264 non-null   object
 12  language              2264 non-null   object
dtypes: int64(4), object(9)
memory usage: 247.6+ KB

In [25]:
user_topics = []

Based on the user topics, the recommended articles change.

* At the start of the day, recommend 10 articles based on user interests
* Adjust user interests based on
    * Direct feedback
    * Clicks
    * Time spent on the article page (some threshold)
* When a new user is created, user will choose some topics
* New articles should be recommended based on collaborative and content-based filtering

### Topic modeling on articles

### Data preparation

Introduce a ratings column

In [26]:
def to_rating(val):
    if val == 'content_followed':
        return 5
    if val == 'content_commented_on':
        return 4
    if val == 'content_saved':
        return 3
    if val == 'content_liked':
        return 2
    return 1

In [27]:
txns.interaction_type.value_counts()

content_watched         39848
content_liked            3431
content_saved            1847
content_commented_on     1038
content_followed          902
Name: interaction_type, dtype: int64

In [28]:
txns['rating'] = txns.interaction_type.apply(lambda x: to_rating(x))

In [29]:
txns.head()

,event_timestamp,interaction_type,item_id,consumer_id,consumer_session_id,consumer_device_info,consumer_location,country,rating
0,1465413032,content_watched,-3499919498720038879,-8845298781299428018,1264196770339959068,NaN,NaN,NaN,1
1,1465412560,content_watched,8890720798209849691,-1032019229384696495,3621737643587579081,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2...,NY,US,1
4,1465412290,content_watched,-7820640624231356730,-445337111692715325,561148 1178424124714,NaN,NaN,NaN,1
7,1465415066,content_watched,-1492913151930215984,4254153380739593270,8743229464706506141,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,SP,BR,1
9,1465413771,content_watched,3064370296170038610,3609194402293569455,1143207167886864524,NaN,NaN,NaN,1

#### Adjust IDs

In [30]:
class IdHelper:
    _map = {}
    _id = 1

    def translate(self, id):
        # If a mapping exists for id, then return the mapping
        # Otherwise, create a new mapping, store it, and return it
        if id in self._map:
            return self._map[id]
        new_id = self.__new_id__()
        self._map[id] = new_id
        return new_id

    def __new_id__(self):
        num = self._id
        self._id += 1
        return num

In [31]:
consumer_helper = IdHelper()
item_helper = IdHelper()

In [32]:
txns['consumer_id_adj'] = txns['consumer_id'].map(lambda x: consumer_helper.translate(x))

In [33]:
txns.head()

,event_timestamp,interaction_type,item_id,consumer_id,consumer_session_id,consumer_device_info,consumer_location,country,rating,consumer_id_adj
0,1465413032,content_watched,-3499919498720038879,-8845298781299428018,1264196770339959068,NaN,NaN,NaN,1,1
1,1465412560,content_watched,8890720798209849691,-1032019229384696495,3621737643587579081,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2...,NY,US,1,2
4,1465412290,content_watched,-7820640624231356730,-445337111692715325,561148 1178424124714,NaN,NaN,NaN,1,3
7,1465415066,content_watched,-1492913151930215984,4254153380739593270,8743229464706506141,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,SP,BR,1,4
9,1465413771,content_watched,3064370296170038610,3609194402293569455,1143207167886864524,NaN,NaN,NaN,1,5

In [34]:
txns['item_id_adj'] = txns['item_id'].map(lambda x: item_helper.translate(x))

In [35]:
txns.head()

,event_timestamp,interaction_type,item_id,consumer_id,consumer_session_id,consumer_device_info,consumer_location,country,rating,consumer_id_adj,item_id_adj
0,1465413032,content_watched,-3499919498720038879,-8845298781299428018,1264196770339959068,NaN,NaN,NaN,1,1,1
1,1465412560,content_watched,8890720798209849691,-1032019229384696495,3621737643587579081,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2...,NY,US,1,2,2
4,1465412290,content_watched,-7820640624231356730,-445337111692715325,561148 1178424124714,NaN,NaN,NaN,1,3,3
7,1465415066,content_watched,-1492913151930215984,4254153380739593270,8743229464706506141,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,SP,BR,1,4,4
9,1465413771,content_watched,3064370296170038610,3609194402293569455,1143207167886864524,NaN,NaN,NaN,1,5,5

In [36]:
cnt.head()

,event_timestamp,interaction_type,item_id,producer_id,producer_session_id,producer_device_info,producer_location,producer_country,item_type,item_url,title,text_description,language
0,1459192779,content_pulled_out,-6451309518266745024,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://www.nytimes.com/2016/03/28/business/dea...,"Ethereum, a Virtual Currency, Enables Transact...",All of this work is still very early. The firs...,en
1,1459193988,content_present,-4110354420726924665,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://www.nytimes.com/2016/03/28/business/dea...,"Ethereum, a Virtual Currency, Enables Transact...",All of this work is still very early. The firs...,en
2,1459194146,content_present,-7292285110016212249,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://cointelegraph.com/news/bitcoin-future-w...,Bitcoin Future: When GBPcoin of Branson Wins O...,The alarm clock wakes me at 8:00 with stream o...,en
3,1459194474,content_present,-6151852268067518688,3891637997717104548,-1457532940883382585,NaN,NaN,NaN,HTML,https://cloudplatform.googleblog.com/2016/03/G...,Google Data Center 360° Tour,We're excited to share the Google Data Center ...,en
4,1459194497,content_present,2448026894306402386,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,https://bitcoinmagazine.com/articles/ibm-wants...,"IBM Wants to ""Evolve the Internet"" With Blockc...",The Aite Group projects the blockchain market ...,en

In [37]:
cnt['item_id_adj'] = cnt['item_id'].map(lambda x: item_helper.translate(x))

In [38]:
cnt.head()

,event_timestamp,interaction_type,item_id,producer_id,producer_session_id,producer_device_info,producer_location,producer_country,item_type,item_url,title,text_description,language,item_id_adj
0,1459192779,content_pulled_out,-6451309518266745024,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://www.nytimes.com/2016/03/28/business/dea...,"Ethereum, a Virtual Currency, Enables Transact...",All of this work is still very early. The firs...,en,524
1,1459193988,content_present,-4110354420726924665,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://www.nytimes.com/2016/03/28/business/dea...,"Ethereum, a Virtual Currency, Enables Transact...",All of this work is still very early. The firs...,en,918
2,1459194146,content_present,-7292285110016212249,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://cointelegraph.com/news/bitcoin-future-w...,Bitcoin Future: When GBPcoin of Branson Wins O...,The alarm clock wakes me at 8:00 with stream o...,en,613
3,1459194474,content_present,-6151852268067518688,3891637997717104548,-1457532940883382585,NaN,NaN,NaN,HTML,https://cloudplatform.googleblog.com/2016/03/G...,Google Data Center 360° Tour,We're excited to share the Google Data Center ...,en,419
4,1459194497,content_present,2448026894306402386,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,https://bitcoinmagazine.com/articles/ibm-wants...,"IBM Wants to ""Evolve the Internet"" With Blockc...",The Aite Group projects the blockchain market ...,en,2155

### EDA

#### Checking for missing values

In [39]:
txns.isna().sum()

event_timestamp             0
interaction_type            0
item_id                     0
consumer_id                 0
consumer_session_id         0
consumer_device_info    10180
consumer_location       10189
country                 10180
rating                      0
consumer_id_adj             0
item_id_adj                 0
dtype: int64

In [40]:
txns.shape

(47066, 11)

In [41]:
cnt.isna().sum()

event_timestamp            0
interaction_type           0
item_id                    0
producer_id                0
producer_session_id        0
producer_device_info    1791
producer_location       1791
producer_country        1791
item_type                  0
item_url                   0
title                      0
text_description           0
language                   0
item_id_adj                0
dtype: int64

In [42]:
cnt.shape

(2264, 14)

#### Checking for duplicated ratings

In [43]:
txns.head()

,event_timestamp,interaction_type,item_id,consumer_id,consumer_session_id,consumer_device_info,consumer_location,country,rating,consumer_id_adj,item_id_adj
0,1465413032,content_watched,-3499919498720038879,-8845298781299428018,1264196770339959068,NaN,NaN,NaN,1,1,1
1,1465412560,content_watched,8890720798209849691,-1032019229384696495,3621737643587579081,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2...,NY,US,1,2,2
4,1465412290,content_watched,-7820640624231356730,-445337111692715325,561148 1178424124714,NaN,NaN,NaN,1,3,3
7,1465415066,content_watched,-1492913151930215984,4254153380739593270,8743229464706506141,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,SP,BR,1,4,4
9,1465413771,content_watched,3064370296170038610,3609194402293569455,1143207167886864524,NaN,NaN,NaN,1,5,5

In [44]:
txns_2 = txns[['consumer_id_adj', 'item_id_adj', 'rating']]

In [45]:
txns_2.head()

   consumer_id_adj  item_id_adj  rating
0                1            1       1
1                2            2       1
4                3            3       1
7                4            4       1
9                5            5       1

In [46]:
duplicates = txns_2[txns_2.duplicated(subset=['consumer_id_adj', 'item_id_adj'], keep=False)]

In [47]:
duplicates.sort_values(by=['consumer_id_adj', 'item_id_adj', 'rating'], inplace=True)

C:\Users\ksrs9\AppData\Local\Temp\ipykernel_5204\4242022127.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates.sort_values(by=['consumer_id_adj', 'item_id_adj', 'rating'], inplace=True)

In [48]:
duplicates.head(25)

       consumer_id_adj  item_id_adj  rating
0                    1            1       1
34                   1            1       1
1647                 1            2       2
1651                 1            2       3
25568                1           21       1
25570                1           21       1
25573                1           21       1
25574                1           21       2
25559                1           33       1
25569                1           33       2
25562                1           33       3
7509                 1           53       1
7519                 1           53       1
14466                1           53       1
14469                1           53       1
14480                1           53       2
14472                1           53       4
14486                1           53       5
3673                 1           68       1
3679                 1           68       2
14447                1          128       1
14464                1          128       1
12499                1          131       1
12518                1          131       1
20464                1          140       1

In [50]:
grp = duplicates.groupby(by=['consumer_id_adj', 'item_id_adj'])['rating'].sum()

In [51]:
grp.head()

consumer_id_adj  item_id_adj
1                1               2
                 2               5
                 21              5
                 33              6
                 53             15
Name: rating, dtype: int64

In [52]:
grp_df = pd.DataFrame(grp)

In [53]:
grp_df.head()

                             rating
consumer_id_adj item_id_adj
1               1                 2
                2                 5
                21                5
                33                6
                53               15

In [54]:
grp_df.columns = ['rating_sum']

In [55]:
grp_df.head()

                             rating_sum
consumer_id_adj item_id_adj
1               1                     2
                2                     5
                21                    5
                33                    6
                53                   15

In [56]:
grp_df.reset_index(inplace=True)

In [57]:
# grp_df.drop(columns=['rating'], inplace=True)

In [58]:
grp_df.head()

   consumer_id_adj  item_id_adj  rating_sum
0                1            1           2
1                1            2           5
2                1           21           5
3                1           33           6
4                1           53          15

In [59]:
no_dups = txns_2.drop_duplicates(subset=['consumer_id_adj', 'item_id_adj'])

In [60]:
no_dups.head()

   consumer_id_adj  item_id_adj  rating
0                1            1       1
1                2            2       1
4                3            3       1
7                4            4       1
9                5            5       1

In [61]:
no_dups.sort_values(by=['consumer_id_adj', 'item_id_adj', 'rating'], inplace=True)

C:\Users\ksrs9\AppData\Local\Temp\ipykernel_5204\744968623.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  no_dups.sort_values(by=['consumer_id_adj', 'item_id_adj', 'rating'], inplace=True)

In [62]:
no_dups.head()

       consumer_id_adj  item_id_adj  rating
0                    1            1       1
1647                 1            2       2
25568                1           21       1
41857                1           29       1
25559                1           33       1

In [63]:
duplicates.shape

(31674, 3)

In [64]:
no_dups.shape

(26206, 3)

In [65]:
txns_2.shape

(47066, 3)

In [66]:
txns_merged = pd.merge(left=no_dups, right=grp_df, left_on=['consumer_id_adj', 'item_id_adj'], right_on=['consumer_id_adj', 'item_id_adj'], how='left')

In [67]:
txns_merged.sort_values(by=['consumer_id_adj', 'item_id_adj', 'rating'], inplace=True)

In [68]:
txns_merged.head(25)

    consumer_id_adj  item_id_adj  rating  rating_sum
0                 1            1       1         2.0
1                 1            2       2         5.0
2                 1           21       1         5.0
3                 1           29       1         NaN
4                 1           33       1         6.0
5                 1           42       1         NaN
6                 1           43       1         NaN
7                 1           53       1        15.0
8                 1           66       1         NaN
9                 1           68       1         3.0
10                1           71       1         NaN
11                1           79       1         NaN
12                1          128       1         2.0
13                1          131       1         2.0
14                1          133       1         NaN
15                1          140       1         2.0
16                1          163       1         NaN
17                1          166       4        17.0
18                1          179       1         NaN
19                1          181       1         NaN
20                1          262       1         3.0
21                1          264       4         7.0
22                1          267       1         NaN
23                1          276       1         NaN
24                1          288       4        20.0

In [69]:
txns_merged['ratings_merged'] = txns_merged.rating_sum.fillna(txns_merged.rating)

In [70]:
txns_merged.head(25)

    consumer_id_adj  item_id_adj  rating  rating_sum  ratings_merged
0                 1            1       1         2.0             2.0
1                 1            2       2         5.0             5.0
2                 1           21       1         5.0             5.0
3                 1           29       1         NaN             1.0
4                 1           33       1         6.0             6.0
5                 1           42       1         NaN             1.0
6                 1           43       1         NaN             1.0
7                 1           53       1        15.0            15.0
8                 1           66       1         NaN             1.0
9                 1           68       1         3.0             3.0
10                1           71       1         NaN             1.0
11                1           79       1         NaN             1.0
12                1          128       1         2.0             2.0
13                1          131       1         2.0             2.0
14                1          133       1         NaN             1.0
15                1          140       1         2.0             2.0
16                1          163       1         NaN             1.0
17                1          166       4        17.0            17.0
18                1          179       1         NaN             1.0
19                1          181       1         NaN             1.0
20                1          262       1         3.0             3.0
21                1          264       4         7.0             7.0
22                1          267       1         NaN             1.0
23                1          276       1         NaN             1.0
24                1          288       4        20.0            20.0

In [71]:
txns_merged.ratings_merged.value_counts()

1.0      15109
2.0       4882
3.0       2382
4.0       1307
5.0        538
6.0        459
7.0        303
8.0        182
10.0       160
12.0       158
13.0       126
11.0       123
9.0        105
14.0        67
15.0        65
16.0        54
17.0        35
19.0        26
18.0        23
20.0        16
21.0        16
22.0        11
24.0        11
23.0         7
25.0         5
30.0         5
37.0         4
29.0         4
26.0         4
38.0         3
28.0         3
33.0         3
27.0         3
45.0         1
34.0         1
80.0         1
268.0        1
84.0         1
32.0         1
46.0         1
Name: ratings_merged, dtype: int64

In [72]:
from sklearn.preprocessing import MinMaxScaler

In [73]:
scaler = MinMaxScaler(feature_range=(1, 5))

In [74]:
scaler.fit_transform(txns_merged[['ratings_merged']])

array([[1.01498127],
       [1.05992509],
       [1.05992509],
       ...,
       [1.        ],
       [1.        ],
       [1.        ]])

In [75]:
scaler.fit_transform(txns_merged[['ratings_merged']]).reshape(-1)

array([1.01498127, 1.05992509, 1.05992509, ..., 1.        , 1.        ,
       1.        ])

In [76]:
x = scaler.fit_transform(txns_merged[['ratings_merged']]).reshape(-1)

In [77]:
txns_merged['ratings_scaled'] = x

In [78]:
txns_merged.head()

,consumer_id_adj,item_id_adj,rating,rating_sum,ratings_merged,ratings_scaled
0,1,1,1,2.0,2.0,1.014981
1,1,2,2,5.0,5.0,1.059925
2,1,21,1,5.0,5.0,1.059925
3,1,29,1,NaN,1.0,1.000000
4,1,33,1,6.0,6.0,1.074906

In [79]:
txns_merged.ratings_scaled.value_counts()

1.000000    15109
1.014981     4882
1.029963     2382
1.044944     1307
1.059925      538
1.074906      459
1.089888      303
1.104869      182
1.134831      160
1.164794      158
1.179775      126
1.149813      123
1.119850      105
1.194757       67
1.209738       65
1.224719       54
1.239700       35
1.269663       26
1.254682       23
1.284644       16
1.299625       16
1.314607       11
1.344569       11
1.329588        7
1.359551        5
1.434457        5
1.539326        4
1.419476        4
1.374532        4
1.554307        3
1.404494        3
1.479401        3
1.389513        3
1.659176        1
1.494382        1
2.183521        1
5.000000        1
2.243446        1
1.464419        1
1.674157        1
Name: ratings_scaled, dtype: int64

In [80]:
txns_merged.shape

(26206, 6)

#### Plotting

In [ ]:
px.histogram(txns, x='rating')

In [ ]:
px.histogram(txns, x='country')

In [ ]:
px.histogram(txns, x='country', color='rating')

In [ ]:
px.histogram(txns, x='consumer_location')

In [ ]:
cnt.head()

In [ ]:
px.histogram(cnt, x='producer_country')

In [ ]:
px.histogram(cnt, x='producer_location')

In [ ]:
px.histogram(cnt, x='item_type')

In [ ]:
px.histogram(cnt, x='language')

* When app is opened
    * Get top 10 recommendations for this user
        * If no data is available, pick top 10 from the chosen interests
        * Else, Get from the data
* When an article is read, AND one of the article recommendations is read, add it to transactions table
    * Infer the topics/genres of the article
    * Filtering should be done based on the topics/genres

Requirements
* Method to get topics/genres from content
* Generate user-article matrix
* Generate article-user matrix

### Topic Modelling using LDA

In [ ]:
import gensim
from gensim.utils import simple_preprocess
from gensim.parsing.preprocessing import STOPWORDS
from gensim.corpora import Dictionary

import nltk
from nltk.stem import WordNetLemmatizer, SnowballStemmer
from nltk.stem.porter import *

nltk.download('wordnet')
nltk.download('omw-1.4')

# import numpy as np
# np.random.seed(2018)

In [ ]:
stemmer = SnowballStemmer('english')
lemmatizer = WordNetLemmatizer()

def lemmatize_and_stem(text):
    return stemmer.stem(lemmatizer.lemmatize(text, pos='v'))

In [ ]:
def preprocess(text):
    result = []
    for x in simple_preprocess(text):
        if x not in STOPWORDS and len(x) > 3:
            result.append(lemmatize_and_stem(x))
    return result

In [ ]:
sample_desc = cnt.iloc[0].text_description

In [ ]:
preprocess(sample_desc)

In [ ]:
processed_docs = cnt['text_description'].map(preprocess)

In [ ]:
processed_docs[:10]

In [ ]:
dic = Dictionary(processed_docs)

In [ ]:
dic.filter_extremes(no_below=15, no_above=0.5, keep_n=100000)

In [ ]:
bow_corpus = [dic.doc2bow(x) for x in processed_docs]

In [ ]:
bow_corpus[0]

In [ ]:
bow_doc_0 = bow_corpus[0]

In [ ]:
print(f'Index: {bow_doc_0[0][0]}, Word: {dic[bow_doc_0[0][0]]}, Count: {bow_doc_0[0][1]}')

In [ ]:
from gensim import corpora, models

In [ ]:
tfidf = models.TfidfModel(bow_corpus)
bow_corpus_tfidf = tfidf[bow_corpus]

In [ ]:
from pprint import pprint
for x in bow_corpus_tfidf:
    pprint(x)
    break

In [ ]:
lda = models.LdaMulticore(bow_corpus, num_topics=10, id2word=dic, passes=2, workers=2)

In [ ]:
for idx, topic in lda.print_topics(-1):
    print(f'Topic: {idx}\n\tWords: {topic}\n')

In [ ]:
lda_tfidf = models.LdaMulticore(bow_corpus_tfidf, num_topics=10, id2word=dic, passes=2, workers=2)
for idx, topic in lda_tfidf.print_topics(-1):
    print(f'Topic: {idx}\n\tWords: {topic}\n')

### Content-based filtering

Derive keywords from the article text

In [ ]:
cnt.columns

In [ ]:
cnt.head()

In [ ]:
cnt.text_description

In [ ]:
text_array = cnt.text_description.to_numpy()

In [ ]:
# text_array

In [ ]:
cnt.shape

In [ ]:
len(text_array)

In [ ]:
words_list = []

for line in text_array:
    words = str(line).lower().split()
    words_list.append(words)

In [ ]:
len(words_list)

In [ ]:
words_list

#### Create Dictionary, Bag of Words, tfidf model & Similarity matrix

In [ ]:
%pip install gensim

In [ ]:
from gensim.corpora.dictionary import Dictionary
from gensim.models.tfidfmodel import TfidfModel
from gensim.similarities import MatrixSimilarity

# create a dictionary from words list
dictionary = Dictionary(words_list) 

#create corpus where the corpus is a bag of words for each document
corpus = [dictionary.doc2bow(doc) for doc in words_list] 

#create tfidf model of the corpus
tfidf = TfidfModel(corpus) 

# Create the similarity matrix. This is the most important part where we get the similarities between the movies.
sims = MatrixSimilarity(tfidf[corpus], num_features=len(dictionary))

In [ ]:
def article_recommendation(content):
    #split the keywords
    keywords = content.split() 

    #set the list of words to query_doc
    query_doc = keywords 
    
    # get a bag of words from the query_doc
    query_doc_bow = dictionary.doc2bow(query_doc) 

    #convert the regular bag of words model to a tf-idf model
    query_doc_tfidf = tfidf[query_doc_bow] 

    # get similarity values between input movie and all other movies
    similarity_array = sims[query_doc_tfidf] 

    #Convert to a Series
    similarity_series = pd.Series(similarity_array.tolist()) 

    #get the most similar movies 
    # similarity_output = similarity_series.sort_values(ascending=False)
    similarity_output = similarity_series
    return similarity_output

In [ ]:
test = cnt.iloc[12]['text_description']

In [ ]:
test

In [ ]:
recs = article_recommendation(test)

In [ ]:
recs[:10]

In [ ]:
recs_df = pd.DataFrame(recs, columns=['Score'])

In [ ]:
recs_df

In [ ]:
recs_df.isna().sum()

In [ ]:
# recs_df['title'] = cnt['title']
# recs_df['text_description'] = cnt['text_description']

In [ ]:
# recs_df = cnt.join(recs_df)

In [ ]:
recs_df = cnt.join(recs_df)

In [ ]:
recs_df.head()

In [ ]:
recs_df.sort_values(by='Score', ascending=False)

In [ ]:
recs_df.isna().sum()

In [ ]:
keep = ['Score', 'title', 'text_description']

In [ ]:
recs_df.drop(columns=[col for col in recs_df if col not in keep], inplace=True)

In [ ]:
recs_df.head()

In [ ]:
recs_df.head(11)

In [ ]:
cnt.iloc[2186]

In [ ]:
txns.head()

In [ ]:
n_users = txns.consumer_id.nunique()

In [ ]:
n_articles = txns.item_id.nunique()

In [ ]:
txns.consumer_id.values

In [ ]:
print(f'Num users: {n_users}, Num articles: {n_articles}')

### Train test split

In [ ]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(txns, test_size=0.3, random_state=42)

In [ ]:
train.shape

In [ ]:
test.shape

### User-Article matrix

Since this is collaborative filtering, we will consider the transactions matrix. From this, we construct a matrix of the ratings given by users for each product.

Populate the training matrix

In [ ]:
def create_and_populate_user_article_matrix(data):
    data_matrix = np.zeros((n_users, n_articles))

    for line in data.itertuples():
        user_id = line[-2]
        article_id = line[-1]
        rating = line[-3]

        data_matrix[user_id - 1, article_id - 1] = rating
    
    return data_matrix

Fill the training matrix with rating values

In [ ]:
data_matrix = create_and_populate_user_article_matrix(train)

In [ ]:
data_matrix

In [ ]:
data_matrix.shape

Populate the testing matrix

In [ ]:
data_matrix_test = create_and_populate_user_article_matrix(test)

In [ ]:
data_matrix_test

In [ ]:
data_matrix_test.shape

Create matrix with full data

In [ ]:
data_matrix_full = create_and_populate_user_article_matrix(txns)

In [ ]:
data_matrix_full

In [ ]:
data_matrix_full.shape

### Pairwise Distance

In [ ]:
from sklearn.metrics.pairwise import pairwise_distances

In [ ]:
user_similarity = 1 - pairwise_distances(data_matrix, metric='cosine')

In [ ]:
user_similarity

In [ ]:
user_similarity.shape

Take the transpose of the data matrix in order to calculate the article similarity.

In [ ]:
data_matrix.shape

In [ ]:
data_matrix.T.shape

In [ ]:
article_similarity = 1 - pairwise_distances(data_matrix.T, metric='cosine')

In [ ]:
article_similarity

In [ ]:
article_similarity.shape

### Get dot product of data matrix with similarity matrix

In [ ]:
user_similarity.shape

In [ ]:
data_matrix_test.shape

In [ ]:
article_prediction = np.dot(user_similarity, data_matrix_test)

In [ ]:
article_prediction.shape

In [ ]:
article_pred_df = pd.DataFrame(article_prediction)

In [ ]:
article_pred_df.head()

In [ ]:
txns.consumer_id_adj.value_counts()

#### Test for one user

In [ ]:
test.head()

In [ ]:
test_user_id = 5
test_user_idx = test_user_id - 1

In [ ]:
test_user_id in test.consumer_id_adj

In [ ]:
article_pred_df.iloc[test_user_idx]

In [ ]:
article_recommendation = pd.DataFrame(article_pred_df.iloc[test_user_idx].sort_values(ascending=False))

In [ ]:
article_recommendation

In [ ]:
article_recommendation.reset_index(inplace=True)

In [ ]:
article_recommendation.head()

In [ ]:
article_recommendation['index'] = article_recommendation['index'] + 1

In [ ]:
article_recommendation.head()

In [ ]:
article_recommendation.rename(columns={'index': 'article_id', test_user_idx: 'score'}, inplace=True)

In [ ]:
article_recommendation.head()

Merging with the content dataframe to get the article title.

In [ ]:
merged = pd.merge(article_recommendation, cnt, left_on='article_id', right_on='item_id_adj', how='left')

In [ ]:
merged.columns

In [ ]:
keep = ['article_id', 'score', 'title']

In [ ]:
merged = merged.drop(columns=[col for col in merged if col not in keep])

In [ ]:
merged.head(10)

In [ ]:
cnt[cnt['item_id_adj'] == 2011]

In [ ]:
cnt[cnt['item_id_adj'] == 2012]

Filter out articles that have been pulled out of the system.

In [ ]:
cnt.head()

In [ ]:
cnt.interaction_type.value_counts()

In [ ]:
merged_2 = pd.merge(merged, cnt, left_on='article_id', right_on='item_id_adj', how='left')

In [ ]:
merged_2.head()

In [ ]:
merged_2.shape

In [ ]:
merged_only_present = merged_2.drop(merged_2[merged_2['interaction_type'] != 'content_present'].index)

In [ ]:
merged_only_present.shape

In [ ]:
merged.columns

In [ ]:
keep = ['article_id', 'score', 'title_x']

In [ ]:
merged_only_present.drop(columns=[col for col in merged_only_present if col not in keep], inplace=True)

In [ ]:
merged_only_present.rename(columns={'title_x': 'title'}, inplace=True)

In [ ]:
merged_only_present.head()

### Evaluate the predictions of the Collaborative User-based model

In [ ]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import accuracy_score
from math import sqrt

In [ ]:
data_matrix

In [ ]:
data_matrix_test

In [ ]:
article_prediction

In [ ]:
data_matrix_test_nz = data_matrix_test.nonzero()

In [ ]:
prediction = article_prediction[data_matrix_test_nz]

In [ ]:
ground_truth = data_matrix_test[data_matrix_test_nz]

#### Mean Absolute Error

In [ ]:
mean_absolute_error(prediction, ground_truth)

#### Root Mean Square Error

In [ ]:
sqrt(mean_squared_error(prediction, ground_truth))

#### Precision

In [ ]:
num_pred = 10

In [ ]:
predictions = merged_only_present['article_id'].values[:num_pred]

In [ ]:
predictions

In [ ]:
txns.head()

In [ ]:
user_interactions = txns[(txns['consumer_id_adj'] == test_user_id) & (txns['rating'] > 3)].sort_values(by='rating', ascending=False)

In [ ]:
user_interactions.shape

In [ ]:
keep = ['consumer_id_adj', 'item_id_adj', 'rating']

In [ ]:
user_interactions.drop(columns=[col for col in user_interactions.columns if col not in keep], inplace=True)

In [ ]:
user_interactions.head(num_pred)

In [ ]:
user_interact_ids = user_interactions['item_id_adj'].values

In [ ]:
user_interact_ids

In [ ]:
user_interactions['item_id_adj'].nunique()

In [ ]:
set(predictions)

In [ ]:
set(user_interact_ids)

Get intersection of predictions and user interactions

In [ ]:
set(predictions) & set(user_interact_ids)

In [ ]:
precision = len(set(predictions) & set(user_interact_ids)) / num_pred

In [ ]:
precision

Recall

In [ ]:
len(set(user_interact_ids))

In [ ]:
recall = len(set(predictions) & set(user_interact_ids)) / len(set(user_interact_ids))

In [ ]:
recall

Some articles are correctly identified.

## ALS

#### Create sparse User-Article matrix

In [ ]:
from scipy.sparse import csr_matrix

Random values in CSR matrix will be filled with alpha value

In [ ]:
txns.head()

In [ ]:
keep = ['consumer_id_adj', 'item_id_adj', 'rating']

In [ ]:
txns_mod = txns.drop(columns=[col for col in txns.columns if col not in keep])

In [ ]:
txns_mod.head()

In [ ]:
txns_mod.describe()

In [ ]:
dup = txns_mod[txns.duplicated(subset=['consumer_id_adj', 'item_id_adj'])]

In [ ]:
dup.head()

In [ ]:
dup.shape

In [ ]:
txns_mod.shape[0] - dup.shape[0]

In [ ]:
txns_mod[(txns_mod['consumer_id_adj'] == 3) & (txns_mod['item_id_adj'] == 3)]

In [ ]:
alpha = 40

In [ ]:
txns_mod.shape

In [ ]:
txns_mod.shape[0]

In [ ]:
x = [alpha] * txns_mod.shape[0]

In [ ]:
len(x)

In [ ]:
sparse_user_article = csr_matrix( ([alpha]*txns_mod.shape[0], (txns_mod['consumer_id_adj'], txns_mod['item_id_adj']) ))

In [ ]:
sparse_user_article

In [ ]:
n_users

In [ ]:
n_articles

Convert to array

In [ ]:
csr_user_array = sparse_user_article.toarray()

In [ ]:
csr_user_array

In [ ]:
txns[(txns['consumer_id_adj'] == 1) & (txns['item_id_adj'] == 1)]

In [ ]:
txns.consumer_id_adj.nunique()

In [ ]:
len(csr_user_array), len(csr_user_array[0])

Dimensions match with the matrix

In [ ]:
max(csr_user_array[1])

Create article-user sparse matrix

In [ ]:
sparse_article_user = sparse_user_article.T.tocsr()

In [ ]:
sparse_article_user

Shape matches

In [ ]:
csr_article_array = sparse_article_user.toarray()

#### Create train & test data

In [ ]:
%pip install implicit

In [ ]:
from implicit.evaluation import train_test_split

In [ ]:
sparse_article_user

In [ ]:
train, test = train_test_split(sparse_user_article, train_percentage=0.8)

In [ ]:
train

In [ ]:
test

#### Building the ALS Model

In [ ]:
from implicit.als import AlternatingLeastSquares

In [ ]:
model = AlternatingLeastSquares(factors=100, regularization=0.01, iterations=20, calculate_training_loss=False)

In [ ]:
model

Training

In [ ]:
model.fit(train)

In [ ]:
test

In [ ]:
test_user_id = 114

New Implicit API expects (user, item) sparse matrix as input

In [ ]:
model.recommend(test_user_id, sparse_user_article[test_user_id])

In [ ]:
ids, scores = model.recommend(test_user_id, sparse_user_article[test_user_id])

In [ ]:
out = pd.DataFrame({'article_id': ids, 'als_score': scores})

In [ ]:
out.head(10)

In [ ]:
sparse_user_article

In [ ]:
cons = list(txns.consumer_id_adj.values)

In [ ]:
items = list(txns.item_id_adj.values)

In [ ]:
1647 in cons

In [ ]:
1647 in items

Filter out articles that the user has already read.

### Article-User Matrix

Same as User-Article matrix